<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Homepage.css" />

  </head>

  <body class="flex-column">

    <section class="homepage clientOverviewSection">
      <div class="containerWrapper">
        <div class="flexColumn">
          <div class="contentBox">
            <div class="nestedWrapper"><h2 class="titleHeader">Novat</h2></div>
          </div>
          <img class="clientImage" src="/assets/5c888555c687b87831f5b010ce9b0b09.svg" alt="alt text" />
          /Users/jinhe/Downloads/pxcode-html/src/assets/5c888555c687b87831f5b010ce9b0b09.svg
        </div>
      </div>
      <div class="actionColumn">
        <button id="addClientButton" class="addClientButton">
          <!-- TODO --> 
          Add Client
        </button>
        <div class="additionalActionsColumn">
          <div class="secondaryContentBox">
            <div class="inlineFlexRow">
              <div class="imageAndInputRow">
                <img class="inputImage" src="/assets/5c888555c687b87831f5b010ce9b0b09.svg" alt="alt text" />
                <p class="inputLabel">Input</p>
              </div>
              <div class="actionButtonRow">
                <button class="launchButton">
                  <!-- TODO --> 
                  Launch
                </button>
                <img class="launchImage" src="/assets/ea2fc0acd1114d349e894974986b105c.svg" alt="alt text" />
              </div>
            </div>
          </div>
          <img class="separatorLine" src="/assets/f7b97f226fb21759ab170421000923ed.svg" alt="alt text" />
        </div>
      </div>
    </section>

  <script src="/Users/jinhe/Downloads/pxcode-html/src/js/main.js"></script>

  </body>

</html>
