<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Tabs.css" />

  </head>

  <body class="flex-column">

    <section class="tabs fileManagementSection">
      <!-- File Management Section --> 
      <div class="dropFilesContainer">
        <div class="dropFilesContent">
          <p class="dropFilesTitle">Drop Files</p>
          <img class="dropFilesIcon" src="/assets/13f45d5990b40af7c96f2633fb510ded.svg" alt="alt text" />
        </div>
      </div>
      <div class="reviewVendorsContainer">
        <div class="reviewVendorsContent">
          <p class="reviewVendorsTitle">Review Vendors/Payees</p>
          <img class="reviewVendorsIcon" src="/assets/fb8d8e04834ce2f6d346d586d79073b4.svg" alt="alt text" />
        </div>
      </div>
      <div class="reviewAccountsContainer">
        <div class="reviewAccountsContent">
          <p class="reviewAccountsTitle">Review Accounts</p>
          <img class="reviewAccountsIcon" src="/assets/8f1972e24548f05d8bfa6659433140fa.svg" alt="alt text" />
        </div>
      </div>
      <div class="downloadContainer">
        <div class="downloadContent">
          <p class="downloadTitle">Download</p>
          <img class="downloadIcon" src="/assets/13f45d5990b40af7c96f2633fb510ded.svg" alt="alt text" />
        </div>
      </div>
    </section>


  </body>

</html>
