@use "utils" as *;
@use "global" as *;

.homepage {
  &.clientOverviewSection {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .containerWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    background-color: rgb(255 255 255);
    overflow: hidden;
  }

  .flexColumn {
    display: flex;
    flex-direction: column;
    gap: 86px 0;
    margin: 0 auto 37px;
    width: 1125.0703125px;
    max-width: 85%;

    @include xs {
      gap: 80px 0;
    }

    @include tn {
      gap: 50px 0;
    }
  }

  .contentBox {
    display: flex;
    flex-direction: column;
    background-color: rgb(245 245 245);
    border-color: rgb(217 217 217);
    border-style: solid;
    border-width: 0 0 1px;
  }

  .nestedWrapper {
    display: flex;
    flex-direction: column;
    margin: 32px 0 32px 32px;
    width: 67px;
    max-width: 85%;

    @include xs {
      margin: 32px 0 32px 16px;
    }

    @include tn {
      margin: 32px 0 32px 8px;
    }
  }

  .titleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 29px;
    font: 600 24px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    letter-spacing: -0.48px;

    @include md {
      font-size: 22px;
    }

    @include xxs {
      font-size: 20px;
    }
  }

  .clientImage {
    width: 100%;
    border-radius: 8px;
    outline: 1px solid rgb(217 217 217);
    outline-offset: -1px;
    object-fit: cover;
  }

  .actionColumn {
    position: absolute;
    top: 202px;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 31px 0;
    width: 1080px;
    transform: translate(-50%, 0);
  }

  .addClientButton {
    display: flex;
    justify-content: center;
    margin: 0 0 0 auto;
    width: 150px;
    max-width: 100%;
    font: 400 16px/1 Inter, Helvetica, Arial, serif;
    color: rgb(245 245 245);
    text-align: center;
    background-color: rgb(44 44 44);
    border-radius: 8px;
    padding: 10px 34px;
    outline: 1px solid rgb(44 44 44);
    outline-offset: -1px;
  }

  .additionalActionsColumn {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 0;

    @include tn {
      margin: 0 8px 0 0;
    }
  }

  .secondaryContentBox {
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255);
    border-radius: 12px;
  }

  .inlineFlexRow {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 0 36px;

    @include md {
      margin: 0 32px;
    }

    @include xs {
      margin: 0 16px;
    }

    @include tn {
      column-gap: 8px;
      margin: 0 8px;
    }
  }

  .imageAndInputRow {
    display: flex;
    align-items: center;
    width: 87px;
    min-width: 0;
  }

  .inputImage {
    width: 48px;
    object-fit: cover;
  }

  .inputLabel {
    display: flex;
    align-items: center;
    font: 400 16px/1.5 Roboto, Helvetica, Arial, serif;
    color: rgb(29 27 32);
    letter-spacing: 0.5px;
  }

  .actionButtonRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    width: 246px;
    min-width: 0;

    @include tn {
      column-gap: 8px;
    }
  }

  .launchButton {
    display: flex;
    justify-content: center;
    min-width: 150px;
    font: 400 16px/1 Inter, Helvetica, Arial, serif;
    color: rgb(245 245 245);
    text-align: center;
    background-color: rgb(90 90 90);
    border-radius: 8px;
    padding: 10px 8px;
    outline: 1px solid rgb(118 118 118);
    outline-offset: -1px;
  }

  .launchImage {
    width: 48px;
    object-fit: cover;
  }

  .separatorLine {
    width: 100%;
    height: 1px;
    object-fit: cover;
  }
}
